:root {
  --headings-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 85px;
  color: #000000;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero {
  padding: 160px 20px;
  background: var(--secondary-color);
}

.hero h2 {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 27px;
  color: #272142;
}

.hero .img-fluid {
  max-width: 90%;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.homepage-contant h2 {
  font-size: 50px;
}

@media (max-width: 900px) {
  .hero {
    text-align: center;
    padding: 0;
  }
  .img-fluid {
    max-width: 70%;
  }
}
