:root {
  --headings-font: "Playfair Display", serif;
  --text-font: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 64px;
  line-height: 85px;
  color: #000000;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  padding: 80px 20px 5px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
}

footer .signature .footer-signature-text,
footer .signature a {
  color: rgba(39, 33, 66, 0.6);
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}

footer .signature a {
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero,
.content-wrapper {
  padding: 80px 20px;
  background: var(--secondary-color);
}

.hero h2 {
  font-family: var(--text-font);
  font-size: 18px;
  line-height: 27px;
  color: #272142;
}

.hero .img-fluid {
  max-width: 90%;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-section h1 {
  font-size: 64px;
}

.content-section-link {
  text-decoration: none;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.content-section-link:hover {
  color: #000000;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
  }

  .hero {
    text-align: center;
    padding: 0;
  }

  .img-fluid {
    max-width: 70%;
  }
}
